// Place all the styles related to the Api::Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comments-container {
  position: relative;
  padding-bottom: 15px;
  z-index: 1;
}

.comments {

  width: 550px;
  max-height: 400px;
  overflow-y: auto;
  // margin-left: -200px;
  // border: 1px solid #bbcadc;
  border: 1px solid #dde5ee;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(187,202,220,0.2);
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  font-size: 12px;
  background: #f1f8fb;

}

.comment-form-container {
  background: #ffffff;

}

.comment-form {
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
  padding: 8px 0 5px 8px;
  border-radius: 3px;
}



.add-comment-btn {
  position: absolute;
  left: 420px;
  top: 59px;
  // float: left;

  input {
  }
}

.comment-input {
  position: relative;
  width: 530px;

  textarea {
    // float: left;
    width: 400px;
    height: 70px;
    font-size: 13px;
  }

  textarea:focus {
    border-color: #577ba8;
  }
}

.comment-input {

}

.comments-list {
  background: #e6f2ff;
}

.single-comment {
  border-top: 1px solid #e2e2e2;
  border-left: 1px solid #f2f2f2;
  padding: 5px;
  // box-shadow: 2px 2px 2px 0px rgba(187,202,220,0.2);
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
  // background: #f2f2f2;
  margin-top: 5px;
  border-radius: 3px;
  background: #ffffff;

}

.single-comment:last-child {
  border-bottom: 1px solid #e2e2e2;
}

.comment-data {
  border: 1px solid #dde5ee;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 5px;
}

.author-info {
  font-size: 13px;
  color: #999;
  display: inline-block;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 3px;
  border-color: #dde5ee;


  img {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
  }

  #comment-userpic {
    float: left;
  }

  #comment-author {
    float: left;
    padding: 4px 0 0 6px;
  }

  #comment-author:hover {
    color: #b82b28;
    text-decoration: underline;
  }

  #comment-date {
    float: left;
    padding: 4px 0 0 3px;
  }

}

.comment-boby {
  padding: 5px 0 5px 5px;
}

.comment-like-buttons {
  padding-top: 5px;
}
