
.page-wraper {
  padding: 30px 32px 0 32px;
  width: 1032px;
  margin: 0 auto;
}

.grid_page {
  margin-left: -30px;
  font-size: 15px;
  line-height: 1.4;
  color: #333;

  div {
    display: block;
  }

}

.sidebar-container {
  float: left;
}

.feed-container {
  float: left;
}
