// Place all the styles related to the Api::topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.topic-questions {
  float: left;
  padding: 0 0 0 40px;
  width: 500px;
  font-family: 'Roboto', sans-serif;

}


.single-q-list {
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 0 20px 0;
}

.q-body {
  font-size: 18px;
  letter-spacing: 0.6px;
}

.q-body:hover {
  color: #2b6dad;
}

.question-stats {
  padding: 13px 0 0 0;
}
