// Place all the styles related to the Api::topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.topic-questions {
  float: left;
  padding: 10px 0 0 40px;
  width: 500px;
  font-family: 'Roboto', sans-serif;

}


.topic-question-container {
}

.single-q-list {
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 0 20px 0;
}

.q-body {
  font-size: 18px;
  letter-spacing: 0.6px;
}

.q-body:hover {
  color: #2b6dad;
}

.question-stats {
  padding: 13px 0 0 0;
  position: relative;
}


#topic-ans-num {
  padding: 0 0 0 20px;
  font-size: 13px;
  color: #999;
}

.downvote-link {
  padding: 0 0 0 20px;
  font-size: 13px;
  color: #999;
}

.downvote-link:hover {
  text-decoration: underline;
}


.quick-ans-container {
  position: absolute;
  top: -55px;
  left: 510px;
  width: 360px;
  border: 1px solid #dde5ee;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(187,202,220,0.2);
  padding: 10px;
  z-index: 1;
}

.quick-answer {

  form {
  }

  textarea {
    width: 353px;
    height: 100px;
    font-size: 13px;
  }

  input {
    float:right;
  }

}

.add-quick-ans-btn {
  float: right;
  font-size: 12px;
}

#not-active-quickans {
  float: right;
  font-size: 12px;
}

.invisible {
  display: none;
}











//
