

.header {
  width: 100%;
  border-top: 2px solid #b82b28;
  border-bottom: 1px solid #e2e2e2;
}

.header-nav {
  box-sizing: border-box;
  position: relative;
  padding: 0 0 0 55px;
  width: 1100px;
  margin: 0 auto;
  line-height: 1.4;
}

.header-logo {
  position: absolute;
  top: 7px;
  left: 0;
  overflow: hidden;

  a {
    display: block;
    height: 50px;
    color: #b82b28;
    font-family: 'Taviraj', serif;
    font-weight: 600;
    font-size: 26px;

  }

}

.header-content {
  width: 100%;
  display: table;
  padding-left: 88px;
  box-sizing: border-box;
}

.ask-form-container {
  width: 456px;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
}


.ask-form {
  display: table;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0 11px 14px;
}

.text-input {
  overflow-x: hidden;
  word-wrap: break-word;
  height: 31px;
  border: 1px solid #e2e2e2;
  background: #f2f2f2;
  padding: 3px 8px;
  width: 349px;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.text-input:focus {
  border: 1px solid #999999;
  background: #eee;
}

.header-ask-btn {
  border: 1px solid #ced1e1;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  background: #fff;
  color: #585a61;
  font-size: 13px;
  padding: 5px 8px 6px 10px;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  letter-spacing: 0.4px;
}

.header-ask-btn:hover {
  border: 1px solid black;
}

.nav-container {
  padding: 0 0 0 14px;
  display: block;
}

.nav-links {
  float: left;
  width: 100%;
}

.read-link {
  display: block;
  float: left;
  color: #b92b27;
  padding: 23px 14px 11px 38px;


  img {
    float: left;
  }

  span {
    margin: -4px 0 0 0;
    float: right;
    position: relative;
  }
}

.read-link span::before {
  position: absolute;
  content: "";
  top: -3px;
  left: -32px;
  width: 25px;
  height: 25px;
  background-image: image-url("read.png");
}

.answer-link {
  float: left;
  color: #999;
  padding: 23px 14px 11px 38px;

  span {
    margin: -4px 0 0 0;
    float: right;
    position: relative;
  }
}

.answer-link:hover {
  // background: #f2f2f2;
}

.answer-link span::before {
  position: absolute;
  content: "";
  top: -3px;
  left: -32px;
  width: 24px;
  height: 25px;
  background-image: image-url("answer.png");

}


.messages-link {
  float: left;
  color: #999;
  padding: 23px 14px 11px 42px;

  a {
    margin: -4px 0 0 0;
    float: right;
    position: relative;
  }
}

.messages-link:hover {
  background: #f2f2f2;
  cursor: pointer;
}

.messages-link a::before {
  position: absolute;
  content: "";
  top: -3px;
  left: -36px;
  width: 30px;
  height: 23px;
  background-image: image-url("inbox.png");
  // background-size: contain;

}

.header-unread {
  position: absolute;
  padding: 3px 8px 3px 8px;
  margin-left: -52px;
  margin-top: 7px;
  background: red;
  color: #fff;
  font-size: 0.85em;
  font-weight: 800;
  border: 2px solid #990000;
  border-radius: 50%;
}

.notifications-link a::after {
  content: "";
  min-height: 5px;
}


.greeting-container {
  padding-top: 5px;
  padding-left: 5px;
  float: left;
  color: #999;
  width: 165px;

  a {
    margin: -4px 0 0 0;
    float: right;
    position: relative;
    }
}

  .greeting-container:hover {
  background: #f2f2f2;
  cursor: pointer;
  }
